@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  scroll-behavior: smooth !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: auto;
  padding: 0 15px;
}

.imgcontainer {
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-cpmBg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.vedio-bg {
  background-size: cover;
}

.herGrd-Btn {
  background-image: linear-gradient(90deg, #f7828e 0%, #fcb6ab 100%) !important;
  box-shadow: 0px 20px 30px -10px rgba(247, 130, 142, 0.4);
}

.article-img {
  clip-path: polygon(50% 0%, 100% 0, 85% 82%, 63% 88%, 0 100%, 0 0);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-bg {
  background-size: cover;
  background-position: center;
}

.vedio-bg {
  background-image: linear-gradient(130deg, #8624e1 25%, #3607a6 100%);
}

.main-grd {
  background-image: linear-gradient(130deg, #8624e1 25%, #3607a6 100%);
}

.block {
  display: block !important;
  justify-content: flex-start !important;
}

.hero-laptop {
  background-position: center;
}

.hero-cards {
  box-shadow: 0px 2px 70px 0px rgba(110, 130, 208, 0.18);
}

.footer a:hover {
  @apply text-secondary transition-all duration-200;
}

.animation {
  opacity: 0;
  transform: translateX(100%);
  animation: right 0.3s ease-in-out forwards;
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(-42%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.close-animation {
  opacity: 1;
  transform: translateX(0);
  animation: reverse-right 0.3s ease-in-out forwards;
  animation-direction: alternate-reverse;
}

@keyframes reverse-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-42%);
  }

  /* Play animation backwards */
}

.responsive-links {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: aliceblue;
}

.header {
  display: flex;
}

.header-vedio {
  width: 600px;
}

@media screen and (max-width: 1180px) {
  .header {
    display: block;
  }

  .header-vedio {
    width: 100%;
  }
}

.mini-nav-main {
  background-color: #8624e1;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  background-color: #8624e1;
  z-index: 100;
}

nav a {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover>ul {
  display: inherit;
}

nav ul ul li {
  width: 370px;
  display: list-item;
  position: relative;
}

.home-bgMain {
  background: linear-gradient(to right, #8443F7, #834CFA, #9C71F9);
}

.hero-cards {
  box-shadow: 0px 2px 70px 0px rgba(110, 130, 208, 0.15);
}